body {
    padding: 0;
    margin: 0;
}

.two-color-background {
    height: 100vh; 
    display: flex;
    flex-direction: column;
}

.heading, footer {
    background-color: grey;
    flex: 1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
    margin-left: 10px;
}

h2{
    font-family: 'Work Sans';
    font-weight: 500;
}

.heading, nav{
    display: flex;
}

nav{
    position: relative;
    top: 10px;
    left: 100px;
    cursor: pointer
}

.content {
    flex: 1;
    background-image: url("https://static.vecteezy.com/system/resources/previews/000/566/196/original/abstract-geometric-square-white-background-light-and-shadow-vector.jpg");
    background-size: cover;
}

.more{
    margin-top: -0.1px;
}

.divider{
    margin: 10px;
}

button{
    height: 40px;
    width: 120px;
    background-size: cover; 
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    cursor: pointer;
    transform: form 0.8s ease;
    margin: 2px;

}

button:hover{
    transform: scale(1.1)
}

.navs{
    color: lightgray;
}

.Google{
background-image: url("https://wallpapers.com/images/hd/dave2d-3g79quhtds3xb0m2.jpg");
margin-left: 10px;
}

.Apple{
    background-image: url("https://th.bing.com/th/id/OIP.9OTfwJDaDRJm1F5TZmIhqAHaEK?rs=1&pid=ImgDetMain") ;
}

.Amazon{
    background-image: url("https://c4.wallpaperflare.com/wallpaper/834/461/227/geometric-gradient-black-yellow-wallpaper-preview.jpg");
    
}

.Microsoft{
    background-image: url("https://static.vecteezy.com/system/resources/previews/001/227/744/non_2x/trendy-color-gradient-creative-background-vector.jpg");
}

.Tesla{
    background-image: url("https://cdn.wallpapersafari.com/79/36/o2l6wU.png");
}

span{
    position: relative;
    top: -10px
}

.para-1, .para-2, .para-3, .para-4, .para-5{
    display: flex;
    
}
p{
    max-width: 300px;
    margin-left: 20px;
    margin-top: -1px;
    text-align: justify;
    border: 5px dashed royalblue;
    padding: 10px;
    border-radius: 20px;
}

.para{
    font-weight: 400;
    border: 5px dashed royalblue; 
    border-radius: 20px;
    padding: 10px;
    font-size: 14.5px;
    text-align: justify;
}

.pic{
    border-radius: 0 !important;
}

.pic-2{
    position: relative;
    left: -10px;
}

img{
    margin: 6px;
    border-radius: 20px;
}

.special{
    left: -15px;
}

.class-1{
    display: flex;
    padding-top: 20px;
}

strong{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

hr{
    height: 2px;
    background-color: grey;
}

footer{
    margin-top: 10px;
    height: 100px;
}